body {
    padding: 20px;
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2.4em;
    margin: 40px 0 30px;
}

h2 {
    font-size: 1.6em;
}

.leadBanner {
    background-color: #000;
    margin: -20px -20px 0 -20px;
    padding: 20px 0;
    display: block;
}

.leadBanner img {
    max-width: 90%;
}

.gameLocations {
    width: 300px;
}

.seatHeader {
    margin: 0 auto;
    padding: 0 0 20px 0;
    max-width: 800px;
}

.stage {
    text-align: center;
    width: 400px;
    background-color: #E4E4E4;
    color: #737373;
    margin: 20px auto 20px auto;
    padding: 10px;
}

.seatSection {
    display: table;
    margin: 0 auto;
    white-space: nowrap;
}

.seatRow {
    display: table-cell;
    text-align: center;
}
.seatRow:nth-child(even) {
    padding-right: 30px;
}
.seatRow:nth-child(odd) {
    padding-right: 8px;
}
.seatRow:nth-child(10) {
    padding-right: 100px;
}
.seatRow:last-child {
    padding-right: 0;
}
.seatRowTitle {
    font-weight: bold;
    padding: 4px;
}

.seat {
    margin-bottom: 8px;
}
.seat a {
    background: #9BDFFF;
    border-radius: 6px;
    color: #000;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    width: 100%;
}
.seat a:hover {
    background: #444;
    color: #fff;
}
.seat a.reserved {
    background: #f00;
    color: #fff;
}

.form-group .help-block {
    display: none;
}
.form-group.has-error .help-block {
    display: block;
}

.blueExample { background: #9BDFFF; color: #000; padding: 4px 6px; border-radius: 6px; }
.redExample { background: #f00; color: #fff; padding: 4px 6px; border-radius: 6px; }

@media only screen and (max-width: 1340px) {

    .seat a {
        padding: 6px;
        font-size: .8em;
    }

    .seatRow:nth-child(10) {
        padding-right: 60px;
    }

}

@media only screen and (max-width: 1240px) {

    .seat a {
        padding: 4px;
        font-size: .8em;
    }

    .seatRow:nth-child(10) {
        padding-right: 50px;
    }

}

@media only screen and (max-width: 1140px) {

    .seat a {
        padding: 4px;
        font-size: .7em;
    }

    .seatRow:nth-child(10) {
        padding-right: 60px;
    }

}

@media only screen and (max-width: 600px) {

    .seat a {
        padding: 8px;
        font-size: .9em;
    }

    .seatRow:nth-child(10) {
        padding-right: 60px;
    }

}